<button class="showModal" data-bs-toggle="modal" data-bs-target="#editInfo">
  <div class="svg-wrapper-1">
    <div class="svg-wrapper">
      <i class="fa-solid fa-pen-to-square edit"></i>
    </div>
  </div>
  <span>Edit</span>
</button>
<!-- Modal -->
<div class="modal fade" id="editInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit User Info</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 row align-items-center">
          <label for="fullName" class="form-label col-3">Full Name :</label>
          <input type="text" class="form-control col" id="fullName" placeholder="Enter your desired name">
        </div>
        <div class="mb-3 row align-items-center">
          <label for="password" class="form-label col-3">Password :</label>
          <input type="password" class="form-control col" id="password" placeholder="Enter your desired Password">
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>